@import '../_vars.sass'
.data-table
  border: 1px solid $primary !important
  .v-data-table__wrapper
    table
      border-bottom: 1px solid $primary !important
      thead
        background-color: $primary-light !important
        th
          font-size: 0.95em !important
          border-bottom: 1px solid $primary !important
      tbody
        tr:nth-child(even)
          background-color: $primary-light !important
        tr:hover
            background-color: $primary-light !important
        td
          font-weight: 500
          color: #5E5E5E
          font-size: 12px

        td:last-child
          border-right: 0